@import "tailwindcss";
@import "@slates/design-system/theme.css";

@layer components {
  .backgroundGradient {
    /* Gradient created with https://colorfinder.app/css-tools/gradient-creator */
    background: linear-gradient(
      0deg,
      rgba(0, 0, 94, 1) 3%,
      rgba(68, 17, 254, 1) 92%
    );
  }
}
.shadow-custom {
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}
@theme {
  --font-atma: var(--font-atma);
}